[Unit]
Description=HTTP Time Protocol daemon (htpdate)
Documentation=man:htpdate(8)
After=network-online.target

[Service]
Type=exec
Environment=HTPDATE_ARGS="-st -m 5 -u nobody:nogroup www.example.com www.example.com:80 www.example.com/index.html"
#Environment=HTPDATE_ARGS="-st -m 5 -u nobody:nogroup -P proxy.internal:8080 www.example.com"
EnvironmentFile=-/etc/default/htpdate
ExecStart=/usr/sbin/htpdate -F $HTPDATE_ARGS

[Install]
WantedBy=multi-user.target
