[Unit]
Description=HTTP Time Protocol daemon (htpdate)
Documentation=man:htpdate(8)
After=network-online.target

[Service]
Type=exec
Environment=HTPDATE_ARGS="-st www.google.com"
EnvironmentFile=-/etc/default/htpdate
ExecStart=/usr/bin/htpdate -F $HTPDATE_ARGS

[Install]
WantedBy=multi-user.target
